body {
        	   background-color: red;
    	}
		
.okno{
	margin-left:40%;
	margin-top:5%;
	margin-right: 40%;
	border-style: dashed;
	background:pink;
	
}
.okno1{
	margin-left:10%;
	margin-top:10%;
	margin-right: 10%;
	margin-bottom:10%;
	

	
	
}
.form-check 
{
    display: inline-block;
    margin-right: 10px;
}
.btn btn-dark
{
	margin-left:5%
}
.img {
	width: 100%;
	height: auto;
}
